<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>注册 - APP任务发布平台</title>
		<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/static/layui/css/layui.css">
		<link rel="stylesheet" href="/static/css/register.css">
	</head>

	<body style="background-image: url(/static/img/login-bg2.jpg);">
		<div class="layui-main user">
			<div class="layui-clear main">
				<div class="layui-logo">
					<a href="#" target="_blank"><img src="/static/img/logo.png" /></a>
				</div>
				<fieldset class="layui-elem-field layui-field-title">
					<legend class="text-white">APP任务发布平台注册</legend>
				</fieldset>
				<div class="layui-form layui-form-pane">
					<div class="layui-form">
                        <div class="layui-form-item">
							<input class="layui-input" id="username" placeholder="请输入用户名" type="text" maxlength="11"  autofocus="autofocus" autocomplete="off" name="user">
						</div>
						<div class="layui-form-item">
							<input class="layui-input" id="password" placeholder="请输入密码" type="password" maxlength="20" lay-verify="required|pwd" autocomplete="off" name="pwd">
						</div>
						<div class="layui-form-item">
							<input class="layui-input" placeholder="请再次输入密码" type="password" maxlength="20" lay-verify="required|rePwd" autocomplete="off" name="rpwd">
						</div>
{#						<div class="layui-form-item form_code">#}
{#							<input id="code" class="layui-input" placeholder="请输入图片验证码" type="text" maxlength="6" lay-verify="required|code">#}
{#							<div class="code"><img id="refCode_reg_img" width="120" height="38"></div>#}
{#						</div>#}
                        <div class="layui-form-item">
							<input class="layui-input" id="phone" placeholder="请输入手机号" type="text" maxlength="11" lay-verify="required|phone|regexit" autofocus="autofocus" autocomplete="off" name="tel">
						</div>
						<div class="layui-form-item form_code">
							<input id="msg-code" class="layui-input" placeholder="请输入短信验证码" type="text" maxlength="6" lay-verify="required|number|msgcode" name="telmsg">
							<div class="code">
								<a id="msg-btn" class="layui-btn layui-btn-normal tel-btn" style="width: 120px;">获取验证码</a>
							</div>
						</div>
						<div class="layui-form-item" style="float: left;margin-left: -10px;">
							<input lay-filter="agreen-checkbox" title="我同意" type="checkbox" lay-skin="primary" checked>
							<a href="#" target="_blank">《注册协议》</a>
						</div>
						<div class="layui-form-item">
							<button id="reg" type="submit" class="login_btn layui-btn layui-btn-radius layui-btn-normal" lay-submit lay-filter="register">立即注册</button>
						</div>
						<div>
							<small class="text-white">已经有账户了？</small>
							<a href="demo.html">点此登录</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/layui/layui.all.js"></script>
	<script type="text/javascript" src="/static/layui/lay/modules/layer.js"></script>
	<script type="text/javascript" src="/static/js/register.js"></script>
<script>
    $("#msg-btn").click(function () {
        var user_tel = $.trim($("input[name='message_pwd']").val());
{#        var validcode = $.trim($("input[name='validcode']").val());#}

        $.post("/shop/enroll/",$('form').serialize(),
            function (data) {
                if (data.status == 0) {
                    layer.msg(data.info);
                } else if (data['status'] == 1) {
                    layer.msg(data.info);
                } else {
                    layer.msg(data.info);
                }
            }, "json");
    });
</script>

</html>